// Colours
$primaryFontColor: #25232B;
$secondaryFontColor: #210124;
$greenAccentColor: #93A8AC;
$purpleAccentColor: #978897;
$whiteColor: #F2EFEA;

// Fonts
$titleFont: 'Playfair Display', serif;
$bodyFont: 'Source Sans Pro', sans-serif;